@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
  word-break: break-word;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

input,
label,
select,
button {
  line-height: inherit;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  word-break: normal;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font: inherit;
}

button:focus {
  outline: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Make webkit render the search input like a normal text field */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
  white-space: pre-line;
  resize: none;
}

/* PRINTING
 * ----------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  html,
  body {
    margin: 0;
  }

  @page {
    margin: 0;
  }
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
  @page :first {
    margin-top: 0;
  }
}
/* GENERAL
 * ----------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
body {
  color: #777;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  background: #fff;
  font-family: 'Catamaran', sans-serif; 
  font-weight: 400;
}
h1,h2,h3,h4,h5 {
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-weight: bold;
}
a {
  color: #777;
  text-decoration: none;
}

/* RESPONSIVE
 * ----------------------------------------------- */
@media print, (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.667;
  }
  .wrapper {
    max-width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;
    margin: auto;
  }
  .sp {
    display: none !important;
  }
  .trans {
    opacity: 1;
    transition: opacity 0.26s ease;
    -webkit-transition: opacity 0.26s ease;
    -moz-transition: opacity 0.26s ease;
    -ms-transition: opacity 0.26s ease;
    -o-transition: opacity 0.26s ease;
  }
  .trans:hover {
    opacity: 0.8;
  }
}
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }

  html {
    font-size: calc(100vw / 6.4);
  }

  body {
    font-size: 0.2rem;
    line-height: 2;
  }
  .wrapper {
    padding-left: 0.39rem;
    padding-right: 0.39rem;
  }
}
/* common code */
.button {
  text-align: center;
  display: block;
  margin: auto;
  letter-spacing: 0.2em;
}
.button.button--together {
  background: #8fda00;
  border-color: #8fda00;
  color: #fff;
}
.title-main {
  font-family: 'Raleway', sans-serif; 
  font-weight: bold;
  line-height: 1.125;
  color: #333;
}
.title-main--white {
  color: #fff;
}
.title-main--center {
  text-align: center;
}
.title-main__sub {
  color: #557ef8;
  font-weight: bold;
  font-family: 'Catamaran', sans-serif;
  position: relative;
}
.title-main--white .title-main__sub {
  color: #fff;
}
.title-main:not(.title-main--center) .title-main__sub::before {
  background: #557ef8;
}
.title-main--white:not(.title-main--center) .title-main__sub::before {
  background: #fff;
}
.title-main:not(.title-main--center) .title-main__sub::before {
  content: '';
}

.title-main__thin {
  font-weight: 100;
}
.title-main span {
  display: block;
}
.list-check li {
  position: relative;
}

.list-check li::before {
  content: '';
  position: absolute;
  background: url(/images/common/icon_arrow_check.png)no-repeat;
}
.list-dot li {
  position: relative;
}
.list-dot li::before {
  content: '';
  position: absolute;
  background: #0009b2;
}
.select-type select {
  display: block;
  font-weight: bold;
  color: #595758;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-type select::-ms-expand {
  display: none;
}

@media print, (min-width: 768px) {
  .button {
    font-size: 18px;
    width: 300px;
    padding: 15px 10px;
    border: 2px solid;
    opacity: 1;
    transition: opacity 0.26s ease;
  }
  .button:hover {
    opacity: 0.7;
  }
  .button--header {
    margin-left: 75px;
  }
  .title-main {
    font-size: 40px;
  }
  .title-main__sub {
    line-height: 1.9166;
    letter-spacing: .01em;
    font-size: 12px;
  }
  .title-main:not(.title-main--center) .title-main__sub {
    padding-left: 54px;
    margin-bottom: 16px;
  }
  .title-main:not(.title-main--center) .title-main__sub::before {
    width: 40px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

  }
  .title-main.title-main--center .title-main__sub{
    margin-bottom: 20px;
  }
  .list-check li {
    padding-left: 25px;
  }
  .list-check li::before {
    width: 9px;
    height: 7px;
    background-size: 9px auto;
    top: 10px;
    left: 0;
  }
  .list-dot li {
    padding-left: 20px;
  }
  
  .list-dot li::before {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 12px;
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .button {
    font-size: .2rem;
    width: 3.5rem;
    padding: .22rem .1rem;
    border: .03rem solid;
  }
  .button--header {
    margin-left: .09rem;
  }
  .select-type select {
    background: url(/images/common/icon_select.png) right .32rem center/auto 100%
      no-repeat;
    background-size: .25rem auto;
    border: .03rem solid #555654;
    font-size: .24rem;
    letter-spacing: 0.2em;
    padding: .18rem .4rem;
    width: 100%;
    outline: none;
  }
}

/* header */
.header {
}

.header__content {
  display: flex;
  align-items: center;
  position: relative;
}
.header__introduce {
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.9;
}
.header .header__switch--active {
  color: #b2b2b2;
}
.header__lang {
  position: relative;
}
.header__tools {
  display: flex;
  align-items: center;
}

.header__lang .header__lang-select a{
  display:block; 
  color:#555;
  position: relative;
}
.header__lang .header__lang-select a::after {
 content: '';
 position: absolute;
 background: url(/images/common/icon_arrow_lang.png);
}
.header__lang .header__lang-select a::before {
  content: '';
  position: absolute;
  background: url(/images/common/icon_en.png);
}
.header__lang .header__lang-select a.en::before {
  background: url(/images/common/icon_en.png);
}
.header__lang .header__lang-option{
  position:relative; 
}

.header__lang .header__lang-options ul{
  background:#fff none repeat scroll 0 0;               display:none;
  list-style:none; 
  padding:0px 0px; 
  position:absolute; 
  left:0px; 
  top:32px; 
  width:auto; 
  min-width:170px;
}

.header__lang .header__lang-select span.value, .header__lang .header__lang-options span.value{
  display: none;
}

.header__lang .header__lang-options ul li a{
  padding:5px; 
  display:block;
  text-decoration:none;
  color:#3179ac;
}

.header__lang .header__lang-options ul li a:hover{
  background:#3179ac;
  color:#fff;
  transition:0.2s ease;
}
.header__join {
  background: #557ef8;
  color: #fff;
  display: block;
  text-align: center;
}
.header__menu a:before {
  content: "";
  height: 0;
  background-color: #41a2f3;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  right: 0;
  margin: auto;
}
.header__menu a {
  position: relative;
  white-space: nowrap;

}
@media print, (min-width: 768px) {
  .header .wrapper {
    max-width: 1500px;
  }
  .header__content {
    padding-top: 35px;
  }
  .header__logo {
    margin-top: 1px;
    padding-left: 8px;
  }
  .header__logo img {
    width: 213px;
  }
  .header__navigation {
    padding-right: 4.8%;
    padding-left: 7.2%;
  }
  .header__menu {
    display: flex;
    align-items: center;
    margin: 0 -15px;
  }
  .header__menu li {
    padding: 0 15px;
  }
  
  .header__introduce {
    font-size: 40px;
    padding: 17% 0 0 70px;
    margin-bottom: 32px;
  }
  
  .header__lang {
    margin-right: 30px;
  }
  .header__lang .header__lang-select a {
    width: 70px;
    font-size: 16px;
    padding-left: 38px;
  }
  .header__lang .header__lang-select a::after {
    width: 7px;
    height: 4px;
    background-size: 7px auto;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
  }
  .header__lang .header__lang-select a::before {
    width: 28px;
    height: 28px;
    background-size: 28px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .header__send {
    margin-right: 96px;
  }
  .header__join {
    font-size: 16px;
    width: 179px;
    height: 50px;
    border-radius: 5px;
    line-height: 50px;
  }
  .header__menu a:hover::before {
    width: 30px;
    height: 2px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .header__menu a {
    font-size: 12px;
  }
  .header__content {
    justify-content: space-between;
  }
  .header__send {
    margin-right: 10px;
  }
  .header__lang {
    margin-right: 10px;
  }
  .header__logo img {
    width: 80%;
  }
  .header__navigation {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header__menu li {
    padding: 0 9px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  .header__content {
    justify-content: space-between;
  }
  .header__send {
    margin-right: 15px;
  }
  .header__lang {
    margin-right: 15px;
  }
  .header__logo img {
    width: 80%;
  }
  .header__navigation {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header__menu li {
    padding: 0 12px;
  }
}
@media only screen and (max-width: 767px) {
  
  .header {
    background: url(/images/top/banner_header_sp.jpg);
    background-size: cover;
    height: 9.46rem;
  }
  .header__logo {
    padding-left: .07rem;
  }
  .header__logo img {
    width: 1.49rem;
  }
  .header__navigation {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
  }
  .header__navigation a {
    color: #555654;
  }
  .header .header__switch--active {
    border: .02rem solid #fff;
    width: .62rem;
    padding: .045rem .05rem;
    color: #fff;
    display: block;
    text-align: center;
  }
  .header__toggles {
    position: fixed;
    right: .49rem;
    top: .3rem;
  }
  .header__toggles span {
    font-size: .24rem;
    letter-spacing: 0.108em;
  }
  .header__toggles.header__toggles--black {
    color: #555654;
  }
  .header__language {
    padding-left: 39%;
  }
  .header__content {
    padding-top: .31rem;
  }
  .header__introduce {
    font-size: .4rem;
    padding: 36.6% 0 0 .09rem;
    margin-bottom: .64rem;
  }
  .header__menu {
    padding: .4rem 0;
  }
  .header__menu li {
    text-align: center;
    padding: .2rem 0;
  }
  
  /* .js__menu-open  */
  .js__menu-open {
    overflow: hidden;
  }
  .js__menu-open .header__navigation {
    display: block;
  }
  .js__menu-open .header__toggles {
    z-index: 101;
    right: .49rem;
    top: .3rem;
    width: .3rem;
    height: .3rem;
  }
  .js__menu-open .header__toggles span {
    font-size: 0;
  }
  .js__menu-open .header__toggles::before,
  .js__menu-open .header__toggles::after {
    position: absolute;
    content: "";
    width: .03rem;
    height: .3rem;
    background: #555654;
    display: inline-block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  .js__menu-open .header__toggles::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }
  .js__menu-open .header__toggles::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
}
/* footer */
/* form */
::placeholder {
	color: #fff;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #fff;
}

::-ms-input-placeholder { 
	color: #fff;
}
.textarea-style,
.input-style {
  font-weight: 100;
  background: rgba(255, 255, 255, 0.24);
}
.form__button {
  background: #fff;
}
@media print, (min-width: 768px) {
  .textarea-style,
  .input-style {
    font-size: 16px;
    border-radius: 5px;
    padding: 14.5px 24px;
    width: 100%;
  }
  .textarea-style {
    height: 196px;
  }
  .form__button {
    border-radius: 5px;
    width: 171px;
    height: 55px;
    font-size: 16px;
    padding-top: 6px;
    margin-top: 10px;
  }
  .form__control + .form__control {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  
}

/* footer */
.footer {
  background: url(/images/top/bg_footer.jpg) center;
  background-size: cover;
  color: #fff;
  position: relative;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__social {
  display: flex;
}
.footer__title {
  font-weight: bold;
}
.footer__copyright {
  display: block;
}
.footer__link {
  display: flex;
  justify-content: space-between;
}
@media print, (min-width: 1024px) {
  
}
@media print, (min-width: 768px) {
  .footer__icon-01.icon-circle::before {
    top: -92px;
    left: 74px;
  }
  .footer {
    padding-top: 136px;
    padding-bottom: 40px;

  }
  .footer .title-main {
    margin-bottom: 40px;
  }
  .footer__social li + li {
    padding-left: 10px;
  }
  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 969px;
    margin: auto auto 248px;
  }
  .footer__detail {
    width: 45%;
  }
  .footer__form {
    width: 64%;
  }
  .footer__copyright {
    font-size: 14px;
  }
  .footer__link-list {
    display: flex;
    justify-content: space-between;
    width: 470px;
  }
  .footer__address {
    margin-bottom: 30px;
  }
  .footer__social {
    margin-top: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
 
}
@media only screen and (max-width: 767px) {
  
}
